p.textbox{
	text-align:justify;
	border-top:5px black solid;
	border-right:5px black solid;
	border-bottom:5px black solid;
	border-left:5px black solid;
	margin-top:50px;
	margin-right:300px;
	margin-bottom:50px;
	margin-left:300px;
	font-family:Georgia;
	font-size:25px;
	background-color:CCD6A6;
	padding:10px 10px 10px 10px;
	}
	
img.SAKADAB{
	float:right;
	height:250px;
	margin:10px 20px;
	}

.problem{
	font-size:35px;
	}

header{
	font-size:60px;
	font-family:Georgia;
	Margin-top:px;
	}

div#footer{
		margin-top:130px;
		left:1730px;
		position:absolute;
		font-family:Georgia;
		}

a{
	text-decoration:none;
	}

a.hyperlink{
			text-align:center;
			text-decoration:none;
			display:block;
			}

p{
	text-align:center;
	font-family:Georgia;
	font-size:25px;
	margin-top:80px;
	}			

a.Top{
	text-align:justify;
	border-top:5px black solid;
	border-right:5px black solid;
	border-bottom:5px black solid;
	border-left:5px black solid;
	margin-top:50px;
	margin-bottom:50px;
	margin-left:850px;
	font-family:Georgia;
	font-size:25px;
	background-color:E7D7C9;
	padding:10px 10px 10px 10px;
	color:Black;
	}












